.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
    max-width: 100%;
width: 100%;

}


.wrapper{
  max-height: max-content;
  overflow-y: scroll;
}
.table {
  display: table;
  width: 100%;
  border: 1px solid black;
  min-width: max-content;


}

.table__row {
  display: table-row;
  border: 1px solid black;

}


.table__cell {
  display: table-cell;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}
.table__cell__2 {
  padding: 5px;
  border: 1px solid black;
  justify-content:center;
  display:flex;
  margin-top: 20px;
  
}
 

.grayBackground{
  background-color: gray;
}
@media only screen and (max-width: 600px) {
  .table {
    display: block;
  }

  .table__row {
    margin-bottom: 10px;
  }

  .table__cell {
    text-align: center;

  }

 
}