.row::after {
    content: "";
    display: table;
    clear: both;
  }

  .row > * {
    box-sizing: border-box;
    float: left;
  }

  .row::before,
  .row::after {
    content: "";
    display: table;
  }
.col {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px 10px 15px;
  }

  .col>h4{
    font-size:var(--span_title);
  }

  @media (min-width: 768px) {
    .col {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    .col {
      width: 100%;
    }
  }

  .container {
    margin-right: auto;
    margin-left: auto;
   padding: 0 15px 20px 15px;
    box-sizing: border-box;

  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }

  @media (min-width: 1350px) {
    .container {
      max-width: 87%;
    }
  }
  .section__title{
	width: 50%;
	margin: 50px 300px 50px;
	text-align: center;
}
.section__title span{
	position: relative;
	z-index: 1;
	font-weight: 700;
  font-size:var(--span_title);
	text-transform: uppercase;
	color:#60606e;
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}
.section__title span:after{
	content: "";
	background-color: var(--color_green);
	position: absolute;
	top:20px;
	left:0;
	z-index: -1;
	width: 60px;
	height: 20px;
}
.section__title p{
	line-height: 24px;
	color:#60606e;
}
@media (max-width: 991px) {
	.section__title{
		margin : 20px auto 0px;
	}
	.section__title span:after{
		left:50%;
		-webkit-transform:translateX(-50%);
		    -ms-transform:translateX(-50%);
		        transform:translateX(-50%);
	}
}
.table {
  display: table;
  width: 100%;
  font-size:var(--p_block);
}

.table__row {
  display: table-row;

}

.table__cell {
  display: table-cell;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  font-size:var(--p_block);

}
.table__cell__2 {
  font-size:var(--p_block);
  padding: 5px;
  border: 1px solid black;
  justify-content:center;
  display:flex;
  margin-top: 20px;
}
.table__cell__3 {
  font-size:var(--p_block);
  padding: 5px;
  border: 1px solid black;
  justify-content:center;
  display:flex;
}
 
.adaptive__img{
  width: 100%;
}

.col h4{
  margin-top: 5px;
  color:#60606e;
}