.body {
    line-height: 1.6;
  }
  
  .blog__container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog {
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .blog h2{
    color: #60606e;

  }
  
.data{
  font-weight: bold;
}