.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
      max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  }

  .container ul {
	margin: 15px;
  }
  .container li {
	margin: 5px;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 970px;
    }
  }

  @media (min-width: 900px) {
    .container {
      max-width: 1170px;
    }
  }

  .row{
    margin-left: -15px;
    margin-right: -15px;
  }


  .row::after {
    content: "";
    display: table;
  }

  .row > * {
    box-sizing: border-box;
    float: left;
  }

  .row::before,
  .row::after {
    content: "";
    display: table;
  }

  .section__title{
	width: 50%;
	margin: 2% 25% 50px;
	text-align: center;
}
.section__title  span{
	position: relative;
	z-index: 1;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	color:#60606e;
	
	display: inline-block;
	margin-bottom: 20px;
}

.plan__title span{
	position: relative;
	z-index: 1;
	font-weight: 500;
	font-size: 25px;
	text-transform: uppercase;
	color:#60606e;
	
	
}

.section__title p{
	line-height: 24px;
	color:#60606e;
}

.section__right{
    float: right;
}

ul.list li{
	list-style-type:disc;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
}
ul.list li:last-child{margin-bottom: 0}
ul.list li:before{
	content: '';
	position: absolute;
	left: 0;
}

.pricing__plan .plan__title{
	font-size: 30px;
} 
.pricing__plan .plan__price{
	padding: 5px 20px;
	color:white;
	font-size: 14px;
	display: inline-block;
} 
.pricing__plan ul{
	margin: 50px 0;
}



.big__title{
	font-size: 48px;
	color:#60606e;
	padding: 10px 40px;
	border:solid 10px #60606e;
	display: inline-block;
	margin-bottom: 30px;
}

.mini__block{
	margin-left: 2%;
}


.wi__41{
	padding: 20px 0;
	
}