.contact {
    justify-content: space-around;
    display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding-bottom: 5%;
 }
 
 .contact__info{
    
    margin-top: 2%;
    
   }
 .contact__info li {
    
    margin: 2% 0;
    
   }
 .contact__info p {
    
    margin: 3% 0;
    
   }

   .contact__info ul {
      margin: 5px;
   }
 .contact__form{
    margin-top: 2%;
 }
 
 @media (max-width:803px) {
 .contact__info {
 
 justify-content: center;
    align-items: center;
 }
 .contact__form {
    margin-top: 5%;
 }
 .contact{
    padding-bottom: 70px;
    justify-content: center;
    
 }
 }


 @media(max-width:767px){
   .contact__info{
       width: 50%;
       margin-bottom: 30px;
   }
 }
 @media(max-width:574px){
   .contact__info{
       width: 100%;
   }
 }



 
.contact__findus{
   margin-top: 2%;
}

.contact__findus p {
      margin: 5px;
}

.contact h1 {
   font-size: 40px;
	color:#60606e;
	padding: 5px 0px;
	margin-bottom: 30px;

}