.contact {
   justify-content: center;
   align-items: center;
}

@media (min-width: 576px) {
   .contact__block {
      max-width: 540px;
   }
}

@media (min-width: 768px) {
   .contact__block {
      max-width: 720px;
   }
}

@media (min-width: 992px) {
   .contact__block {
      max-width: 960px;
   }
}

@media (min-width: 1200px) {
   .contact__block {
      max-width: 1170px;
   }
}

.contact__block {
   display: flex;
   align-items: center;
   justify-content: center;

}

.contact__info {
   width: 33%;
   float: left;
   margin-top: 2%;

}

.contact__info li {

   margin: 2% 0;

}

.contact__info p {

   margin: 3% 0;

}

.contact__info ul {
   margin: 5px;
}

.contact__form {
   width: 100%;
   border-top: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}





@media (max-width:882px) {
   .contact__info {
      width: 50%;
      justify-content: center;
      align-items: center;
   }



}

@media(max-width:590px) {
   .contact__info {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
   }
}







.contact__findus {
   margin-top: 2%;
}

.contact__findus p {
   margin: 5px;
}

.contact h2 {
   font-size: var(--span_title);
   color: #60606e;
   padding: 5px 0px;
   margin-bottom: 30px;

}

.sub__contact__info {
   font-size: var(--span_title);
   color: #60606e;
   padding: 5px 0px;
   margin-bottom: 30px;

}