
.table {
  display: table;
  width: 100%;

}

.table__row {
  display: table-row;

}

.table__cell {
  display: table-cell;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  
}
.table__cell__2 {
  padding: 5px;
  border: 1px solid black;
  justify-content:center;
  display:flex;
  margin-top: 20px;
  
}
 

.gray{
  background-color: gray;
}
@media only screen and (max-width: 600px) {
  .table {
    display: block;
  }

  .table__row {
    margin-bottom: 10px;
  }

  .table__cell {
    text-align: center;

  }

 
}