.menu__list li:hover .sub__menu__list {
   display: block;
   color: #ffffff;
}

.menu__list li a {
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
   font-weight: 700;
   text-transform: uppercase;

}


.sub__menu__list {
   text-align: start;
   display: none;
   z-index: 999;
   position: absolute;
   top: 20px;
   left: 0%;
   min-width: 200px;
   background-color: var(--color_green);
}

ul.sub__menu__list>li>a {
   display: inline-block;
   width: 100%;
   height: 40px;
   line-height: 40px;
   padding: 0 20px;
   color: #fff;
}




.sub__menu__list>li:nth-child(even)>a {
   background-color: var(--color_green__02);
}

.sub__menu__list>li>a:hover {
   background-color: #404051;
}

.sub__menu__list li {
   margin: none;
   padding-top: 1px;

}

.sub__menu__list :hover {
   color: var(--color_green);
}


.menu__link__lang {
   margin: 0px 15px 0px 20px;
}

.menu__link {
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   color: #ffffff;
   display: flex;
}



.menu__list>li {
   margin: 0px 0px 0px 30px;
}


.lang__list p {
   display: inline-block;
   color:white;
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   margin: 0px 0px 0px 0px;
}

.planet {
   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.lang__list:hover .planet,
.lang__list:hover p,
.lang__list:hover .button__down {
   filter: invert(52%) sepia(94%) saturate(707%) hue-rotate(32deg) brightness(91%) contrast(102%);

}
@media(max-width:964px) {
   
   .lang__list > .planet:first-child{
      display: none;
   }
   
   .menu__link {
      font-size: 35px;
   }

   .menu__link__lang {
      margin: 0px 0px 0px 0px;
   }


.sub__menu__list{
   left: 37%;
   top: 32px;
}

.button__down {
   margin-right: 50px;
}

.lang__list:hover .planet,
.lang__list:hover p,
.lang__list:hover .button__down {
   filter: invert(52%) sepia(94%) saturate(707%) hue-rotate(32deg) brightness(91%) contrast(102%);

}



.menu__link>div {
   display: flex;
}
}