*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



html,
body{
  display: block;
  height: 100%;
  font-family: "Montserrat", sans-serif;

}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
	color:#8ca600;
	-webkit-transition:all .2s ease-in-out;
			transition:all .2s ease-in-out;
}
a.link{
	position: relative;
}
a.link:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0;
	height: 1px;
	-webkit-transition:all .2s ease-in-out;
			transition:all .2s ease-in-out;
}
a:hover, a:focus{
	color:#8ca600;
	text-decoration: none;
}
a:hover:after{
	width: 50%;
}
a,
li {
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
 } 

 footer{
    display: block;
 }

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 1 auto;
}


input:focus-visible{
    outline:none;
  
  }
 
  main{
    padding-top:100px
  }


  @media(max-width:574px){
   
    main{
        padding-top:80px
      }
     }

  :root {
    --color_green__02: #677903;
    --color_green: #8ca600;

  }

   th {
    border: 1px solid #000;
  }