.home__page{
    display: flex;
    flex-wrap: wrap;
}
.mini__blog__post > h2 {
  color: #60606e;
}
.mini__blog__post p {
  font-weight: bold;

}


.mini__blog__post {
    width: calc(25% - 20px);
    margin: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  @media (max-width: 1000px) {
    .mini__blog__post {
        width: calc(50% - 20px);
    }
  }
 
  
  @media (max-width: 550px) {
    .mini__blog__post {
        width: calc(100% - 20px);
    }
  }