.content {
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.col__5 {
  width: 41.66667%;
  float: left;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}
.col__6 {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 991px) {
  .col__5 {
    width: 100%;
    float: none;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.block {
  width: 100%;
  float: left;
}

.block img {
  max-height: 400px;


}

.ageblockncy p {
  color: #60606e;
}

.block .section__title {
  text-align: left;
  width: 100%;
  margin: 0 0 auto 30px;
}

@media (max-width: 991px) {
  .site-hero ul.slides {
    height: 750px;
  }

  .block {
    margin-top: 30px;
  }

  .block img {
    margin-bottom: 30px;
  height: auto;
  }

  .block .section__title {
    margin: 0 auto;
    text-align: center;
  }

  .block p {
    text-align: center;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;

}

.col p {
  padding-top: 5px;
}


.section__title span:after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
  width: 60px;
  height: 20px;
}

.section__title p {
  line-height: 24px;
  color: #60606e;
  margin: 50px 20px auto 20px;
}

.section__right {
  float: right;
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .col {
    width: 25%;

  }
}

@media (max-width: 991px) {
  .section__title {
    margin: 0 auto 50px;
  }

  .section__title span:after {
    left: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .block__01 .block__01__left {
    text-align: center;
    margin-bottom: 50px;
  }
}

.sub__section__title {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  width: 100%;
  box-sizing: border-box;
}

.sub__section__title p {
  color: #999999;
  line-height: 30px;
}

@media (min-width: 992px) {
  .sub__section__title {
    width: 33.33333333%;
  }

  .wi__41 {
    width: 41.66666667%;
  }

  .wi__50 {
    width: 50%;
  }
}






.sec__01 {
  margin: 20px;
}

.container .info__img {
  width: 100%;
  height: auto;
}

.container p {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.info__content {
  display: flex;
  flex-flow: wrap;

}

.test {
  margin: 2% 0% 0% 2%;
  padding-left: 20px;

}

.test__02 p {
  padding-top: 10px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row>* {
  box-sizing: border-box;
  float: left;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.col {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col {
    width: 50%;
  }
}
@media (max-width: 990px) {
  .col {
    width: 100%;
    
  }
  .section__title__us{
    width: 100%;
    text-align: center;


  }
}
.production__us{
  padding-bottom: 3%;
}
.production__us a {
  padding-right: 5%;
}


.button__send{
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.container {
  margin-right: auto;
  margin-left: auto;

}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.section__title {
  width: 50%;
  margin: 50px 300px 50px;
  text-align: center;
}

.section__title span {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #60606e;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.section__title p {
  line-height: 24px;
  color: #60606e;
}

@media (max-width: 991px) {
  .section__title {
    margin: 0 auto 50px;
  }

  .section__title span:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.sub__section__title {
  margin-bottom: 30px;
}

.sub__section__title:nth-last-child(-n+3) {
  margin-bottom: 30px;
}

.sub__section__title>i {
  display: inline-block;

  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 30px;
  margin-right: 20px;
}

.sub__section__title>.title {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #60606e;
}






.row {
  margin-left: -15px;
  margin-right: -15px;
}


.row::after {
  content: "";
  display: table;
}

.row>* {
  box-sizing: border-box;
  float: left;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.section__title {
  width: 50%;
  margin: 50px 300px 50px;
  text-align: center;
}


.section__title p {
  line-height: 24px;
  color: #60606e;
}

.section__right {
  float: right;
}

ul.list li {
  list-style-type: disc;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

ul.list li:last-child {
  margin-bottom: 0
}

ul.list li:before {

  position: absolute;
  left: 0;

}

.list ::marker {
  padding-left: 10px;
}



.kek {
  margin: 4% 1% 1% 10%;
  height: auto;

}

@media (max-width: 1187px) {
  .kek {
    margin: 4% 1% 1% 5%;
    height: auto;

  }
}

@media (max-width: 969px) {
  .kek {
    margin: 4% 1% 1% 2%;
    height: auto;

  }
}

@media (max-width: 869px) {
  .kek .list {
    display: none;
  }
}

.button__us{
  font-size: 3vw;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;

}
.button__us:hover {
  color: #fff;
  background-color: var(--color_green);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button__us {
    padding: 10px 30px;
  }
}

.row ul li{
  margin: 10px;
}

.img__section__title img {
  margin-left: 20%;
}