.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
    }
  }

  @media (max-width: 991px) {
    .col {
        width: 100%;
      }

    .adaptive__img{
      width: 100%;
    }
  }
  .row{
    margin-left: -15px;
    margin-right: -15px;
  }


  .row::after {
    content: "";
    display: table;
  }

  .row > * {
    box-sizing: border-box;
    float: left;
  }

  .row::before,
  .row::after {
    content: "";
    display: table;
  }

  .section__title{
	width: 50%;
	margin: 0px 25% 50px;
	text-align: center;
}

@media (max-width: 992px){
  .section__title{width: 100%;}

}
@media (max-width: 662px){
  .section__title span {
    font-size: 3.5vh;
  }

}



.section__title span{
	position: relative;
	z-index: 1;
	font-weight: 700;
	font-size: 5.5vh;
	text-transform: uppercase;
	color:#60606e;
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}



.section__title p{
	line-height: 24px;
	color:#60606e;
}

.section__right{
    float: right;
}

@media (max-width: 991px) {
	.section__title{
		margin : 0 auto 50px;
	}
	.section__title span:after{
		left:50%;
		-webkit-transform:translateX(-50%);
		    -ms-transform:translateX(-50%);
		        transform:translateX(-50%);
	}
    .block__01 .block__01__left{
        text-align: center;
        margin-bottom: 50px;
    }
}
.sub__section__title{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    width: 100%;
    box-sizing: border-box;
}

.sub__section__title p {
    color: #999999;
    line-height: 30px;
}

@media (min-width: 992px){
.sub__section__title{ 
    width: 33.33333333%;
}

.wi__41{
    width: 41.66666667%;  
}
.wi__50{
    width: 50%;  
}

.col {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}

.col img {
  width: "auto";
  height: auto;
}
.adaptive__img{
  width: 100%;
  height: auto;
}



.wi__58{
    width: 58.33333333%;
}

}

@media (min-width: 768px){
    .sub__section__title{
        width: 33.33333%;
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
    .col {
      width: 50%;
    }
    .wi__100{
       width: 91.66666667%; 
    }
}

@media (min-width: 576px) {
.sub__section__title{
    width: 50%;
}
}
    
.wi__50{  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;}



.mini__title{
    text-transform: uppercase;
    display: inline-block;
	height: 40px;
	line-height: 40px;
	color:#60606e;
}

.block__01 .block__01__left {
	display: block;
	font-size: 36px;
  padding:0px 30px
}
.block__01 .block__01__left .bloc__title{
	font-size: 18px;
	margin-bottom: 20px;
	display: inline-block;
}
.block__01 .block__01__left ul li{
	list-style: none;
	text-transform: uppercase;
	line-height: 30px;
	color:#999999;
}
@media (max-width: 991px) {
	.block__01 .block__01__left{
    text-align: center;
    margin-bottom: 50px;}
    .table {
      padding:0px 5px
    }
    .table__cell {
      padding: 2px;
    }
}

.big__title{
	font-size: 2vh;
	color:#60606e;
	padding: 10px 40px;
	border:solid 10px #60606e;
	display: inline-block;
	margin-bottom: 30px;
}

.table {
  display: table;
  width: 100%;
  padding:0px 15px
}



.table__row {
  display: table-row;

}

.table__cell {
  display: table-cell;
  padding: 5px;
  border: 1px solid black;
  text-align: center;

}
.table__cell__2 {
  padding: 5px;
  border: 1px solid black;
  justify-content:center;
  display:flex;
  margin-top: 20px;
}
 

.section__title__cubaturnic:hover  > span{
  background-color: var(--color_green);
} 