{
    "extends": [
        "next"
    ],
    "rules": {
        "no-unused-vars":"warn",
        "@next/next/no-html-link-for-pages": "off",
        "max-len":["warn",{"code":220}],
        "no-console":"warn"
      
      }
    
  }
