

.content {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-areas: 
  'left1 right1 news'
  'left2 right2 news'
  'left3 right3 news'
  ;
}

.left1{
  margin: 5px;
  grid-area: left1;
}
.right1{
  grid-area: right1;
  padding: 30px;
 
 
}
.left2{
  grid-area: left2;
  padding: 30px;
 
}
.right2{
  margin: 10px;
  grid-area: right2;
 
}
.left3{
  margin: 10px;
  grid-area: left3;
}
.right3{
  grid-area: right3;
  padding: 30px;
  margin: 10px;
 
}
.news{
  grid-area: news;

}




.img {
width: 100%;
 
}


.title > span{
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: var(--span_title);
  text-transform: uppercase;
  color: #60606e;
  position: relative;
  display: inline-block;
}



@media (max-width: 1200px) {
  .content{
    grid-template-areas: 
  'left1 right1 '
  'news news '
  'left2 right2 '
  'left3 right3 ';
  }
}
@media (max-width: 990px){
  .content{
    grid-template-columns: 1fr; 
    grid-template-areas:
      'right1'
      'left1'
      'news'
      'right2'
      'left2'
      'left3'
      'right3'
      ;
  }
}

@media (min-width: 576px) {
  .content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 720px;
  }


}

@media (min-width: 992px) {
  .content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 1170px;
  }
}
@media (min-width: 1350px) {
  .content {
    max-width: 90%;
  }
}