.home__page{
}
.mini__blog__post > h2 {
  color: #60606e;
}
.mini__blog__post p {
  font-weight: bold;

}


.mini__blog__post {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  @media (max-width: 1000px) {
    .mini__blog__post {
    }
  }
 
  
  @media (max-width: 550px) {
    .mini__blog__post {
    }
  }